*{
  font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  padding: 0;overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}
body::-webkit-scrollbar:hover{
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: none;        
}
body::-webkit-scrollbar-thumb:hover{
  background-color: skyblue;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(133, 133, 138);
  border-radius: 20px;
}
h1{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.1;
  font-family: 'Montserrat', sans-serif;
}

#Nav1 {
  /* border: 1px solid red; */
  /* top: 100px; */
  /* position: fixed; */
  width: 100%;
  margin-top: 50px;
  background-color: white;
}
#thing {
  /* border: 1px solid blue; */
  background-color: white;
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: 17px;
  padding: 20px 24px 0px 24px;
}
#thing > :nth-child(1) {
  /* border: 1px solid blue; */
  cursor: pointer;
  width: 200px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 6px solid transparent;
}
#thing > :nth-child(2) {
  /* border: 1px solid blue; */
  cursor: pointer;
  width: 200px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 6px solid transparent;
}
#thing > :nth-child(3) {
  /* border: 1px solid blue; */
  cursor: pointer;
  width: 200px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 6px solid transparent;
}
#Mens_pro,
#Womens_pro,
#Accessories_pro {
  display: none;
}
#ss1,
#ss2,
#ss3,
#ss4,
#ss5,
#ss6 {
  display: flex;
  width: 98%;
  overflow: hidden;
  margin: 15px 15px;
  margin-right: 10px;
  gap: 30px;
}
#ss1,
#ss3,
#ss5{
   margin-top: 10px;
}
#ss1 > img,
#ss2 > img,
#ss3 > img,
#ss4 > img,
#ss5 > img,
#ss6 > img{
  cursor: pointer;
  width: 32%;
  height: 600px;
  /* margin: 15px; */
  /* margin-top: 30px; */
}
#box1 > img {
  cursor: pointer;
  width: 98%;
  text-align: center;
  margin-top: 30px;
  margin-left: 15px;
}
#box2 {
  font-size: 16px;
  width: 90%;
  margin: auto;
  display: flex;
  overflow: auto;
  margin-top: 25px;
  gap: 25px;
}
#box2 > div > img {
  cursor: pointer;
  width: 98%;
  height: 200px;
  border-radius: 15px;
}
#box2 > div > h4 {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  width: 80px;
  margin-left: 10px;
  text-align: center;
}
#box3 > img {
  cursor: pointer;
  width: 98%;
  margin: auto;
  margin-top: 30px;
}
#box4 > img {
  cursor: pointer;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}
#box5 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
#box5 > div {
  width: 200px;
  height: 300px;
}
#box5 > div > img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
#box6{
  display: flex;
  gap: 10px;
  width: 98%;
  flex-wrap: wrap;
}
#box6 > img {
  /* border: 1px solid; */
  width: 49%;
  cursor: pointer;
  margin-left: 5px;
}
#box7 {
  position: relative;
  width: 98%;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
#ss2+h1{
  margin: 35px 0px;
}
.box8 {
  /* border: 1px solid; */
  position: relative;
  width: 98%;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.Tshirt_pro1,
.Tshirt_pro2,
.wtshirt_pro1,
.wtshirt_pro2,
.mbs_pro1,
.mbs_pro2,
.wbs_pro1,
.wbs_pro2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-bottom: 20px;
}
.Tshirt_pro1 img,
.Tshirt_pro2 img,
.wtshirt_pro1 img,
.wtshirt_pro2 img,
.mbs_pro1 img,
.mbs_pro2 img,
.wbs_pro1 img,
.wbs_pro2 img{
  width: 100%;
}
#Tshirt_pro2,#wtshirt-pro2,#mbs_pro2,#wbs_pro2 {
  display: none;
}
.slide {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 40%;
}
.slide button {
  border-radius: 10px;
  border: 0;
  background-color: rgb(177, 211, 241);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0.5;
}
.slide button:hover{
  opacity: 1;
  background-color: rgb(177, 211, 241);
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#box9{
  display: flex;
  gap: 10px;
  width: 98%;
  flex-wrap: wrap;
}
#box9 > img {
  /* border: 1px solid; */
  width: 49%;
  margin-left: 5px;
  cursor: pointer;
}
#box10{
  width: 98%;
  margin-left: 10px;
}
#box10 > img {
  cursor: pointer;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}
#box11 > img {
  cursor: pointer;
  width: 100%;
  margin: auto;
  margin-top: 5px;
}
#box12 > img {
  cursor: pointer;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: -7px;
}
