* {
    margin : 0px;
    padding: 0px;
  }
  #home_bar{
    display: flex;
    font-size: 20px;
    /* margin-bottom: -50px; */
    margin-top: 80px;
    margin-left: 100px; 
    font-family: sans-serif;
  }
  #homebar_2{
    text-decoration: none;
  }
  #slash{
    padding: 0px 10px 0px 10px;
  }
  #category_name{
    margin-left: 97px;
    margin-top: 50px;
    margin-bottom: -20px;
    font-family: sans-serif;
  }
  #bag {
    display: flex;
    width : 90%;
    margin : auto;
    font-family: sans-serif;
   
  }
  #container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 500px);
    gap: 40px ;
    width : 70%;
    margin-right: 50px;
    margin-top: 100px;
    /* margin-left: 20px; */
  

  }
  #container >div{
    margin-bottom: -60px;
    
  }
  #container >div p{
      font-size: 15px;
      color: rgb(95, 95, 97);
      margin-bottom: 5px;
  }
  #container >div h3{
    margin-bottom: 5px;
}
  #container >div>div{
      display: flex;
      /* gap: 10px; */
      align-items: center;
      
  }
  
  #container >div>div>div>h3{
    /* margin-right: 10px; */
    font-size: 22px;
  }
  #container >div>div>div:nth-child(2){
    margin-right: 10px;
    font-size: 22px;
  }
  #container >div>div>div>h4{
    text-decoration: line-through;
    color: #949494;
    
  }
  #ra-one{
    display: flex;
    justify-content: space-between;
    width: 87%;
    /* border: 1px solid black; */
    margin: auto;
    margin-bottom: -100px;
    margin-top: 50px;
    font-family: sans-serif;
  }
  #sortPrice1{
    margin-bottom: 50px;
  }
  #sortPrice{
    padding: 8px;
    margin-bottom: 20px;
  }
  img {
      height : 70%;
      width : 100%;
      text-align: center;
  }
  #ra {
    width : 20%;
    margin-right: 20px;
    margin-top: 100px;
    margin-left: 20px;
  }
  #filter{
      margin-bottom: 20px;
      color: grey;
  }
 #filterVenue{
   font-size: 18px;
    width : 70%;
   
    background-color: gray;
    color : white ;
    padding: 10px;
    
  }
  #Venue{
    
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color:gray;
    color : white ;
    padding: 10px;
  
  }
 #Va {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
    
  }
 #Vb {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #Vc{
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color:gray;
    color : white ;
    padding: 10px;
  }
  #Vd {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #Vf {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #Vg {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #Vh {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #Vi {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #container button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 3px bisque;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin: auto;
    display: block;
    margin-top: 10px;
}
#container button:hover{
    text-shadow: 2px 2px 3px blue;;
    background:linear-gradient(to left,rgb(225, 192, 192),rgb(146, 238, 241));
}
#username{
  font-size: 26px;
  margin-top: 15px;
  font-family: sans-serif;
  text-transform: capitalize;
}

/*<!--------------------------------navbar----------->*/

/*-----------fotter-----------------------------------------------------------*\


